Here we will do the four kpi's (Key performance indicator) for both control and test group and we will compare them so that we know how the new design performed.

#### Let's do the four kpi's for the control_group "Completion rate , Average time spent, Time spent on each step, Error rate" for Test group

In [2]:
# Load necessary libraries
import pandas as pd
import numpy as np
from collections import defaultdict
from datetime import datetime
import time

In [8]:
# load the data
test_sorted = pd.read_csv("test_sorted.csv")
test_sorted.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,date,time,year,month,day,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,age_category,variation_test
0,555,402506806_56087378777,637149525_38041617439_716659,confirm,4/15/2017 13:00,"2017, 00, 15","13, 00, 34",2017,4,15,3,46,30,U,2,25454,2,6,14-30,Test
1,555,402506806_56087378777,637149525_38041617439_716659,start,4/15/2017 12:57,"2017, 57, 15","12, 57, 56",2017,4,15,3,46,30,U,2,25454,2,6,14-30,Test

#### Completion rate

In [9]:
# Calculate for the total confirmed process step
process_step_confirm = len(test_sorted[test_sorted['process_step'] == 'confirm'])
process_step_confirm

25594

In [10]:
# Calculate for the total start process step
process_step_start = len(test_sorted[test_sorted['process_step'] == 'start'])
process_step_start

55753

In [11]:
# Calculate for the completion rate
completion_rate = round((process_step_confirm/process_step_start) * 100)
completion_rate

46

#### Average time spent

In [15]:
# Open dictionary to store time differences for each client ID
test_sorted2 = test_sorted[['client_id','time']]
test_sorted2_list = test_sorted2.values.tolist()

time_diffs = defaultdict(list)

# Parse timestamps and group by client ID
for client_id, time in test_sorted2_list:
    time_diffs[client_id].append(datetime.strptime(time, '%H, %M, %S'))

In [16]:
# Calculate time differences for each client ID
time_diffrence1 = []
time_diffrence2 = []
for client_id, time in time_diffs.items():
    time.sort()  # Ensure timestamps are sorted
    for i in range(1, len(time)):
        time_diff = time[i] - time[i - 1]
        time_diffrence1.append(client_id)
        time_diffrence2.append(time_diff)
        #print(f"Client ID: {client_id}, Time difference: {time_diff}")

In [17]:
time_differ1 = pd.DataFrame(time_diffrence1)
time_differ2 = pd.DataFrame(time_diffrence2)

In [18]:
# Set the column names for both dataframes
time_differ2.columns = ['time_diffrence']
time_differ1.columns = ['client_id']

In [19]:
# Add them
time_differ1 = pd.concat([time_differ1, time_differ2], axis = 1)

In [21]:
# total_time spent is equal/ same  with time deffrence
time_differ1.head()

   client_id  time_diffrence
0        555 0 days 00:00:07
1        555 0 days 00:00:32
2        555 0 days 00:01:39
3        555 0 days 00:00:20
4        647 0 days 00:00:07

In [20]:
# total time spent 
total_time = time_differ1['time_diffrence'].sum()
total_time

Timedelta('1624 days 05:10:41')

In [22]:
# average time spent 
avg_time = time_differ1['time_diffrence'].mean()
avg_time

Timedelta('0 days 00:15:37.548376536')

In [23]:
# Let's merge time_diffre1 with test_merge based on client_id
test_diffre = pd.merge(test_sorted, time_differ1, on = 'client_id')